<h1>Edit Profile</h1>
<%= form_for(@profile) do |f| -%>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :user_id %>
  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.select :location, VnLocation.locations %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, ["Male", "Female"] %>
  </div>
  <div class="actions">
    <%= f.submit 'Update'%>
  </div>
<% end -%>
