<!DOCTYPE html>
<html>
<head>
  <title>Won2010</title>
  <%= stylesheet_link_tag 'reset', 'application' %>
  <%= javascript_include_tag 'jquery', 'rails-jquery', 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div id="page-header" class="clearfix">
	<div id="logo"><h1>Online Auction</h1></div>	
	<%= render(:partial => "shared/top_menu") %>
</div>
<div id="page-notice">
	<% flash.each do |key, value| %>                        
		<p class='<%= key %>'><%= value %></p>	
	<% end -%>
</div>
<div id="page-body" class="clearfix">
	<div id="auction-tools"><%= render(:partial => "shared/auction_tools") %></div>
	<div id="main-content"><%= yield %></div>	
</div>
<div id="page-footer">Powered by Online Auction Team.</div>
</body>
</html>
